<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 data-translate="mobile.title" translate-values="{username: '{{vm.account.login}}'}">Password for [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success" data-translate="mobile.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error"  data-translate="mobile.messages.error">
                <strong>An error has occurred!</strong> The mobile could not be changed.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                The mobile and its confirmation do not match!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="mobile" data-translate="global.form.newpassword">New mobile</label>
                    <input type="mobile" class="form-control" id="mobile" name="mobile" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="vm.mobile" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.mobile.$dirty && form.mobile.$invalid">
                        <p class="help-block"
                           ng-show="form.mobile.$error.required" data-translate="global.messages.validate.newpassword.required">
                            Your mobile is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.mobile.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                            Your mobile is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.mobile.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                            Your mobile cannot be longer than 50 characters.
                        </p>
                    </div>
                    <mobile-strength-bar mobile-to-check="vm.mobile"></mobile-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword" data-translate="global.form.confirmpassword">New mobile confirmation</label>
                    <input type="mobile" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                            Your confirmation mobile is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation mobile is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation mobile cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" data-translate="mobile.form.button">Save</button>
            </form>
        </div>
    </div>
</div>
